@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
  font-family: 'Varela Round';
}

.home-box {
  margin: 20px;
}
.Background_img{
  width: 100%; 
  height: 100vh; 
  background-image: url('image/background_img.png'); 
  background-size: cover; 
  background-position: center;
}
.Background_img > h1{
  text-align: center; 
  margin: 0; 
  padding-top: 50px; 
  font-size: 50px;
}
.Background_img > p{
  text-align: center; 
  margin: 0; 
  font-size: 30px;
}

/*featured products*/
.featured-products{
  margin-left: 20px;
}
.Product1{
  display: flex; 
  justify-content: space-around;
}
.Product1 h4{
   text-align: center;
}
.square-box {
  width: 200px;           
  height: 200px;          
  border-radius: 15px;  
  border: 2px solid black;
  overflow: hidden;       
}

.square-image {
  width: 100%;            
  height: 100%;           
  object-fit: cover;      
}

/*Upcoming products*/
.Release-alert{
  margin-left: 20px;
}

.Product{
  display: flex; 
  align-items: flex-start; 
  gap: 10px;
}

.Img{
  width: 250px; 
  height:250px; 
  margin-left:15px
}

.Title{
  margin-top: 50px;
  margin-left: 30px;
}

.Points{
  margin-bottom: 10px;
}

@media only screen and (max-width: 430px) {
  .home-box {
    margin: 10px;
  }
  /*Background image and title*/
  .Background_img{
    height: 50vh;
  }

  /*featured products*/
  .featured-products{
    margin-left: 10px;
    font-size: 25px;
  }
  .Product1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .Product1 h4{
    font-size: 14px;
  }

  /*Upcoming products*/
  .Product {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .Release-alert{
    margin-left: 10px;
    margin-top: 0px;
    font-size: 25px;
  }
  .ul-title {
    margin-left: 10px;
  }

  .Title{
    margin-top: 10px; /* Reduce the margin above the titles */
  }
}